/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--wu-green: #5a9f49;
	--wu-blue: #17aadc;
	--orange-red: #F26419;
	--honey-yellow: #F6AE2D;
	--terra-cotta: #ED6A5A;
	--seal-brown: #591F0A;
	--ecru: #D5BF86;
	--light-goldenrod-yellow: #F1F0CC;
	--light-french-beige: #C8AB83;
	--gold-crayola: #eec584;

	--proportion_scale: 100;
	--proportion_sky: 33;
	--proportion_earth: calc(var(--proportion_scale) - var(--proportion_sky));

	--title_font: "Titan One", sans-serif;
	--title_font-size: 96px;

	--serif_font: "Merriweather", serif;

	--subtitle_font: "Caveat", sans-serif;
	--subtitle_font-size: 24px;

	--color_sky: var(--wu-blue);
	--color_earth: var(--wu-green);
}

.layout-flex-column {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

html {
	background: var(--color_sky);
	font-family: var(--serif_font);
}

.home-title {
	font-size: var(--title_font-size);
	font-family: var(--title_font);
	text-align: center;
}

.home-title .asterisk {
	font-size: calc(var(--title_font-size) * .5);
	vertical-align: top;
	position: absolute;
}

.home-subtitle {
	font-size: var(--subtitle_font-size);
	font-family: var(--subtitle_font);
	font-weight: 700;
	text-align: center;
}

.sky {
	background: var(--color_sky);
	flex: var(--proportion_sky) 0 33%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.earth {
	background: var(--color_earth);
	flex: var(--proportion_earth) 0 66%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.earth form {
	display: flex;
	flex-flow: column nowrap;
	gap: 8px;
	align-items: stretch;
	text-align: center;

	border-radius: 10px;
	border: 4px solid var(--seal-brown);
	padding: 1em;
	background: hsl(111deg 30% 87%);

	transform: translateY(-50%);
}

.card {
	--accent-color: black;
	--background-color: white;

	border-radius: 4px;
	box-shadow: 0px 4px 8px var(--accent-color);
	border: 1px solid var(--accent-color);
	background: var(--background-color);
}

.card-variant-green {
	--accent-color: var(--color_earth);
}

.card-variant-brown {
	--accent-color: var(--seal-brown);
}

.address-form label {
	font-size: 20px;
}

.address-form input {
	border-radius: 4px;
	text-align: center;
	border-image: none;
	border: 1px solid var(--accent-color);
}

.address-form button {
	border-radius: 4px;
	border: 1px solid var(--accent-color);
	background: var(--accent-color);
	color: var(--background-color);
}

.address-form button:hover {
	cursor: pointer;
}

.address-form * {
	font-family: 'Merriweather';
	font-size: 16px;
}

.horizon {
	height: 100px;
	background: var(--color_sky);
}

.horizon path {
	fill: var(--color_earth);
}

.font-1 {
	font-family: 'Nunito';
}

.font-2 {
	font-family: 'Playfair Display';
}

.font-3 {
	font-family: 'Merriweather';
}

.font-4 {
	font-family: 'Kanit';
}

.font-5 {
	font-family: 'Josefin Sans';
}

.card.card.card {
	border-radius: 4px;
	box-shadow: 0px 4px 8px var(--seal-brown);
	border: 1px solid var(--seal-brown);
	background: white;
	transition: box-shadow .2s ease-in;
}

@media screen and (max-width: 650px) {
	:root {
		--title_font-size: 64px;
		--subtitle_font-size: 20px;
		--proportion_sky: 20;
	}

	.horizon path {
		transform: scaleX(2) translateX(-25%);
	}
}
